
# top-most EditorConfig file
root = true

# file formatting defaults
[*]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# javascript
[*.js]
indent_style = space
indent_size = 2

# markdown
[*.md]
trim_trailing_whitespace = false

# npm and bower
[{package.json,bower.json,.bowerrc}]
indent_style = space
indent_size = 2

# jade
[*.jade]
indent_style = space
indent_size = 2
