doctype html
html(lang=config.language)
  head
    include partial/head
  body

    //- Menu goes here
    each url, label in theme.menu
      a(href=url)= label

    //- Content goes here
    .wrap
      block content

    //- Bottom goes here
    span Site construction by
    span= ' ' + config.author + '.'
    br
    a(href=config.root) Home
