doctype html
html(lang=config.language)
  head
    include partial/head
  body
    .wrap
      h1=config.title

      //- Menu goes here
      each url, label in theme.menu
        a(href=url)= label

      //- Content goes here
      block content

      include partial/footer
