extends base

block content
  article
    if site.posts.length > 0
      ol.list
        each post in site.posts.sort('date', -1).limit(5).toArray()
          li.list__item
            a(href=post.path)= post.title
            time(datetime=post.date.toJSON())= date(post.date, date_format)
            if post.excerpt
              p.list__item-desc= page.excerpt.replace(/\<[^\>]+\>/g, '')
            else
              p.list__item-desc= post.content.replace(/\<[^\>]+\>/g, '').substring(0,200) + '…'

  include partial/pagination
