extends base

block content
  article
    if site.posts.length > 0
      ol.list
        each post in site.posts.sort('date', -1).limit(5).toArray()
          li.list__item
            a(href=post.path)= post.title
            if post.date
              time(datetime=post.date.toJSON())= date(post.date, date_format)

  include partial/pagination
