extend layout

block title
  title= site.title

block content
  each post in posts
    article.post-item
      header.post-item__header
        h1
          a(href=post.url)= post.title
        time= post.date
      section.post-item__summary
        != post.summary
