doctype html
html(dir='LTR' lang='en')
  head
    include head

  body
    header.site-header
      a(href='/')
        h1.site-header__title= site.title
      p.site-header__desc= site.description

    main.main-content
      block content
