font-family = 'Times New Roman' Times serif
font-size = 1.4em

html, body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-rendering optimizeLegibility
  line-height 1.5

h1, h2, h3
  font-family sans-serif
  font-weight 500

p, aside, time
  font-family serif

.wrap
  font-size font-size
  font-family font-family
  color #333
  max-width 30em
  margin 3em auto 7em
