//
// VARIABLES
// =========
// Here is Stylus variables. For example: base font family, font size,
// syntax highlight variables.
//

//
// COMMON VARS
// Common variables goes below
//

base-font-size       = 150%
base-font-family     = Georgia, Cambria, 'Times New Roman', Times, serif
base-text-color      = #444
base-lines-color     = #eee

selection-bg-color   = #edff7e
selection-text-color = #111

//
// BLOCKS
// Styles' partials
//

$block
  max-width 30em
  margin 0 auto

//
// TOMORROW THEME
// https//github.com/chriskempson/tomorrow-theme
//

highlight-background   = #ffffff
highlight-current-line = #efefef
highlight-line-numbers = #999999
highlight-selection    = #d6d6d6
highlight-foreground   = #4d4d4c
highlight-comment      = #8e908c
highlight-red          = #c82829
highlight-orange       = #f5871f
highlight-yellow       = #eab700
highlight-green        = #718c00
highlight-aqua         = #3e999f
highlight-blue         = #4271ae
highlight-purple       = #8959a8
