.site-header,
.main-content,
.site-footer {
  max-width: 30em;
  margin: 0 auto;
}
html {
  height: 100%;
  max-height: 100%;
  font-size: 150%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  line-height: 1.6em;
  color: #444;
}
::selection {
  color: #111;
  background: #edff7e;
  text-shadow: none;
}
h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: bold;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 3.157rem;
}
h2 {
  font-size: 2.369rem;
}
h3 {
  font-size: 1.777rem;
}
h4 {
  font-size: 1.333rem;
}
small {
  font-size: 0.75rem;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dashed #444;
}
a:hover {
  border-bottom-style: solid;
}
.site-header {
  margin: 5rem auto;
  text-align: center;
}
.site-header__desc {
  color: #696969;
}
.main-content {
  color: #444;
}
@media (max-device-width: 480px) {
  .main-content {
    font-size: 0.8rem;
  }
}
@media (max-device-width: 480px) and (orientation: landscape) {
  .main-content {
    font-size: 0.6rem;
  }
}
.post-item {
  display: block;
  margin-bottom: 2.5rem;
}
.post-item__header {
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}
.post-item__header h1 {
  font-size: 2.369rem;
  letter-spacing: -1px;
}
.post-item__meta {
  font-family: serif;
  font-style: italic;
  font-size: 0.8rem;
}
.post-item__desc {
  display: block;
}
.post-item__content {
  display: block;
}
article code {
  font-size: 0.9rem;
  padding: 0.2rem 0.5rem;
  background: #eee;
  border-radius: 3px;
}
article pre {
  background: #eee;
  padding: 1em;
  overflow-y: auto;
  border-radius: 3px;
}
article img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 3px;
}
article blockquote {
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid #eee;
}
article blockquote p a:last-of-type {
  font-style: italic;
  font-size: 0.8rem;
}
article blockquote p a:last-of-type::before {
  content: '— ';
}
.nav__left {
  float: left;
}
.nav__right {
  float: right;
}
.nav:after {
  content: '';
  display: block;
  clear: both;
}
.site-footer {
  font-size: 0.6rem;
  line-height: 1.6;
  margin: 3rem auto 5rem;
  text-align: center;
}
